html {
    font-size: 62.8%;
}
body {
    font-size: 16px;
}
@font-face {
    font-family: 'source-sans-black';
    src: url(../fonts/SourceSans3-Black.ttf);
}
@font-face {
    font-family: 'source-sans-italic';
    src: url(../fonts/SourceSans3-Italic.ttf);
}
@font-face {
    font-family: 'source-sans-regular';
    src: url(../fonts/SourceSans3-Regular.ttf);
}

h1 {
    font-size: 8.2rem;
    font-family: 'source-sans-black';
    color: #04146c;
}
p{ 
    font-size: 2.1rem;
    font-family: 'source-sans-regular';
    color: #04146c;
}
button {
    width: 15rem;
    font-family: 'source-sans-regular';
    font-size: 1.4rem;
    background-color: #04146c;
    color: white;
    border: none;
    font-variant: small-caps;
}
.col-10 {
    img{
        width: 100%;
    }
    
}
.col-md-5 {

    img {
        width: 80%;
    }

}